{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "prettier"
    ],
    "globals": {
        "document": true,
        "window": true
    },
    "rules": {
        "react/prefer-stateless-function": [
            0
        ],
        "react/no-array-index-key": [
            0
        ],
        "no-console": "off",
        "prettier/prettier": [ "error", {"singleQuote": true}]
    }
}